@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.newContact{
  margin: 5px;
  color: white;
  background: red;
  width: 190px;
  height: 50px;
  position: relative;
  border-color: red;
  border-radius: 5px ;
}

.button_key{
  display:inline-block;
  margin: 2px;
  width: 70px;
  height: 50px;
  border-style: none;
  box-sizing: border-box;
  background-color: whitesmoke;
  text-align: center;
  font-size: x-large;
  grid-template-columns: repeat(4,100px);
}
.border{
  padding: 10px;
}
.btn{
  margin-right: 10px;
}
.fa {
  margin-right: 10px;
}
table .btn{
  margin: 2px;
}

