<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="autoService.isAuto">


  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">Send mail</a>
      <div class="inbox">
        <a class="nav-link" routerLink="/inbox" >inbox</a>
      </div>
      <div class="contacts">
        <a class="nav-link" routerLink="/contacts">contacts</a>
      </div>
      <div class="sent">
        <a class="nav-link" routerLink="/sent" >Sent</a>
      </div>
      <div class="draft">
        <a class="nav-link" routerLink="/draft">Draft</a>
      </div>
      <div class="trash">
        <a class="nav-link" routerLink="/trash">Trash</a>
      </div>
      <div class="refresh">
        <a class="nav-link" (click)="refresh()"> 🗘 </a>
      </div>
    </li>
  </ul>




  <div class="logout">
    <a class="nav-link" (click)="autoService.logout()">Log out <span class="sr-only"></span></a>
  </div>
</nav>
<nav *ngIf= "">
  <li class="nav-item">
    <a class="nav-link" routerLink="/stat">stat</a>
  </li>
</nav>
<router-outlet></router-outlet>
