.logout{
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.inbox{
  position: absolute;
  left: 80px;
  top: 8px;
}
.contacts {
  position: absolute;
  left: 130px;
  top: 8px;
}
.sent {
  position: absolute;
  left: 200px;
  top: 8px;
}
.draft {
  position: absolute;
  left: 250px;
  top: 8px;
}
.trash {
  position: absolute;
  left: 300px;
  top: 8px;
}

