<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="autoService.isAuto">
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Send mail</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <div class="inbox">
          <a class="nav-link" routerLink="/inbox">inbox</a>
        </div>
    </li>
  </ul>

  <div class="logout">
    <a class="nav-link" (click)="autoService.logout()">Log out <span class="sr-only"></span></a>
  </div>
</nav>
<nav *ngIf= "">
  <li class="nav-item">
    <a class="nav-link" routerLink="/stat">stat</a>
  </li>
</nav>
<router-outlet></router-outlet>
